{
  /* Después de cada regla, el valor «2» significa que hay una violación es un "error". 
    Si el valor puesto es «1» generaría un "warn" y un valor de «0» desactiva la regla es un "off". */
  "env": {
    "browser": true, /* El objetivo del código es ejecutar en navegadores */
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "firebase": "readonly"
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2018, /* Establece la versión de ECMAScript que se usará */
    "sourceType": "module" /* Indica si se usan módulos ESM o solo scripts */
  },
  "rules": {
    "linebreak-style": 0, /* escribimos código en Windows o en Unix */
    "prefer-destructuring": 0,
    "import/extensions": 0, /* deshabilita la regla de import/extensions */
    "import/prefer-default-export": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}