/* se borra el formato del navegador por defecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #F4F4F4;
}
.menu{
  background: #4DBC4D;
}
.menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
}
.items{
  display: flex;
}
.items a{
  font-family: sans-serif;
  font-weight: bold;
}
#footer{
  background: #61453D;
  color: #FFFFFF;
  text-align: center;
}