/************************Contenedor de home******************************/
.contentHome{
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
}
/**************************Contenedor de la info y el botón***********************/

.contentInfo{
  display: block;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/*************************información de home*****************************/
.homeInfo{
  display: block;
  justify-content: center;
  width: 80%;
  font-size: calc(0.7em + 1vw);
  text-align: center;
  margin-bottom: 10%;
}

/***************************Contenedor de la imagen de Home********************/
.contentImgHome{
  max-width: 100%;
  left: auto;
  margin-top: 0;
}

.imgHome{
  width: 100%;
  margin-top: 0;
}
/**************************************Medio queries***************************/

                                @media (min-width: 970px){

  .contentHome{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/**************************Contenedor de la info y el botón***********************/
.contentInfo{
  display: flex;
  justify-content: center;
  width: 40%;
}

/*************************información de home*****************************/
.homeInfo{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: calc(0.7em + 1vw);
  text-align: left;
  margin-bottom: 10%;
}

/***************************Contenedor de la imagen de Home********************/
.contentImgHome{
  max-width: 100%;
  left: auto;
}

.imgHome{
  width: 100%;
  }
}