/*************************************** Generales ********************************/
/******* Import de url de fuente********/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/****Se borra el formato del navegador por defecto *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/**********************************Home****************************************/

/****************Contenedor de home****************/
.contentHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/****************Contenedor de la info y el botón************/

.contentInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contentInfoHome{
    display: flex;
    justify-content: center;
}

/******************información de home********************/
.homeInfo{
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: calc(2em + 1vw);
    text-align: center;
    margin-bottom: 10%;
}

.contentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonStart{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #4DBC4D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* display: flex;
    justify-content: center; */
    border-radius: 16px;
    text-align: center;
    font-style: initial;
    font-size: calc(0.5em + 1vw);
    width: 28%;
    margin: 5%;
    padding: 2%;
}

/*********Contenedor de la imagen de Home************/
.contentImgHome{
    max-width: 100%;
    left: auto;
    margin-top: 0;
}

.imgHome{
    width: 100%;
    margin-top: 0;
}

/********************************** fin Home****************************************/

/********************************** Login signUp *********************************/

/******** header ********/
header{
    background-color: #4DBC4D;
    margin-bottom: 10%;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    /* flex-wrap: wrap; */
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.subLogo{
    width: 100%;
    margin-left: 10px;
}

.menu ul{
    width: 65%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    margin-right: 15px;
    align-items: center;
    flex-wrap: wrap;
}

a{
    border-radius: 10px;
    padding: 0.2em;
}

a:hover{
    background-color: rgb(51, 134, 31);
    color: rgb(255, 255, 255);
}

.itemNav{
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none
}

.items{
    cursor: pointer;
}
/* .items a{
    
} */
/******** body ********/
body{
    background: #F4F4F4;
}

.hidden{
    display: none;
}
.show{
    display: block;
}

/*******Contenido de login y SignIn******/
.logo{
    width: 40%;
    display: block;
    margin: auto;
}

.errorMessage{
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
}

.input{
    display: flex;
    border: 1px solid #ccc;
    background-color: #C4C4C4;
    color: #2f2f2f;
    border-radius: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    font-size: calc(0.5em + 1vw);
    width: 40%;
    height: 5%;
    margin: 3% auto;
    padding: 1em;
}

::placeholder{
    font-family: "Font Awesome 5 Free", 'Roboto', sans-serif ; 
    font-weight: 900;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btnStart{
    border: none;
    background-color: #4DBC4D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    text-align: center;
    font-style: initial;
    font-size: calc(0.5em + 1vw);
    width: 28%;
    margin: 5%;
    padding: 2%;
}

p {
    text-align: center;
    color: #525151;
    margin: 2%;
    font-weight: bold;
}

.contentbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-style: none;
    background-color: #F4F4F4;
}

.iconSocial{
    cursor: pointer;
    margin-top: 10%;
    width: 50%;
}

.btnFacebookGoogle{
    border: none;
    background-color: #F4F4F4;
}

/**********Diseño footer********/
footer {
    background-color: rgb(56, 43, 43);
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 0;
    position: fixed;
    bottom: 0;
}
.footer{
    color: white;
    font-size: calc(0.5em + 1vw);
}

/************************************ fin de Login y signUp  ********************************/

/*********************************** Timeline************************************/

/********MODAL********/
/* * {box-sizing: border-box} */

/* Set a style for all buttons */
button .confirm  {
  /* background-color: #04AA6D; */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: rgb(167, 164, 164);
  color: white;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #04AA6D;
  color: white;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}
/**************/
.divContent{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content{
    width: 100%;
}

.timeLineContainer{
    width: 100%;
    height: 40%;
}

.profileContainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #A4A3A3;
    background-color: #ebffe6;
    border-radius: 6px;
    margin: 2% auto;
    margin-top: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.publication{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #C6C3C3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.publicationContainer{
    width: 100%;
}

.textAreaPublication{
    width: 80%;
    height: 50%;
    margin: 4% auto;
    border: 3px solid #b4b4b4;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}


.textAreaPublication::placeholder{
    color: #7e7e7e;
    padding: 3%;
    font-weight: 400;
}


.buttonsPost{
    display: flex;
    justify-content: space-between;
    margin: 3% 3%;
    cursor: pointer;
}

.buttonImg{
    font-size: 2em;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.buttonShare{
    width: 6em;
    font-size: 1em;
    /* padding: 2%; */
    background-color: #4DBC4D;
    border-radius: 15px;
    border: 1px solid #4DBC4D;
    padding: 1% 2%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    cursor: pointer;
}

.postSection{
    width: 100%;
}

.postMessage{
    margin: 5% 0;
    border: 1px solid #C6C3C3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.authorPost{
    display: flex;
    justify-content: space-between;
    background-color: #4DBC4D;
}

.authorPost p{
    color: #FFFFFF;
}

.btnDelete{
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 2%;
    /* cursor: pointer; */
}

.sectionAboutPost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postContent{
    width: 78%;
    margin: 2%;
    padding: 2%;
    font-size: 1.5em;
    border: none;
}

.sectionAboutPost div{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.btnEdit {
    font-size: 1.5em;
    background: none;
    border: none;
    color: inherit;
    margin: 1%;
    cursor: pointer;
}

.btnSave{
    font-size: 1.5em;
    background: none;
    border: none;
    color: inherit;
    margin: 1%;
    cursor: pointer;
}

.reactionPost{
    display: flex;
    background-color: rgba(0, 0, 0, 20%);
    justify-content: flex-start;
}

.btnLove{
    font-size: 1.5em;
    /* color: rgb(134, 11, 11); */
    background: none;
    border: 0;
    color: inherit;
    margin: 1%;
    cursor: pointer;
}
.btnDkislike{
    background: none;
    border: 0;
    color: inherit;
    margin: 1%;
    cursor: pointer;
}

.btnComments{
    font-size: 1.5em;
    background: none;
    border: 0;
    color: inherit;
    margin: 1%;
    cursor: pointer;
}

/*********************************** Fin de Timeline ************************************/

/******************************************** Profile *******************************************/

.divContentProfile{
    width: 50%;
}

.profileContent{
width: 100%;
height: 50%;
background-color: #ebffe6;
display: flex;
flex-flow: column wrap;
justify-content: space-between;
align-items: center;
border: 2px solid #777777;
border-radius: 6px;
margin: 2% auto;
margin-top: 0%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nameStatus{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


.imgProfile{
    width: 150%;
    border-radius: 20%;
    margin-top: 20%;
}

.nameProfile{
    margin: 0;
    color: rgba(104, 158, 224, 1);
    font-weight: 800;
}

.status{
    color: rgba(43, 43, 43, 1)
}

.aboutUser{
    background-color: #ebffe6;
    margin: 2% auto;
    border: 2px solid #7D7D7D;
    box-sizing: border-box;
    border-radius: 6px;
}

.aboutUser h2{
    margin-top: 2%;
    font-size: 200%;
    text-align: center;
}

.statusProfile{
    font-size: 150%;
}

.myInfo{
    font-size: 150%;
}

/******************************************** Fin de Profile *******************************************/

/***************************************** Error 404 ******************************************/

.errorSection{
    display: flex;
    flex-direction: column-reverse;
}
.error404{
    width: 90%;
    text-transform: uppercase;
    margin: auto;
}
.errorImg{
    width: 100%;
    padding: 5%;
}

/***************************************** Fin de Error 404 ******************************************/


/***********************************************MEDIA QUERIES*******************************************/


                                @media (min-width: 970px){

/**************************************************Home************************************************/

.contentHome{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -5%;
}

/**************************Contenedor de la info y el botón***********************/
.contentInfo{
    display: flex;
    justify-content: center; 
    width: 40%;
}

/*************************información de home*****************************/
.homeInfo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: calc(1em + 1vw);
    text-align: center;
    margin-bottom: 10%;
}


/***************************Contenedor de la imagen de Home********************/
.contentImgHome{
    max-width: 100%;
    left: auto;
}

.imgHome{
    width: 100%;
    }

/********************************** fin de Home****************************************/

/************************************* login y signUp *******************************/

.menu{
    height: 4rem;
}

figure{
    width: 15%;
}

.itemNav{
    font-size: 1.5em;
}

    .contenedorFormulario, .contenedorRegister{
        width: 80%;
        height: 30%;
        margin-top: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .content{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    }

    .input{
        font-size: calc(0.1em + 1vw);
    }

    .btnStart{
        font-size: calc(0.2em + 1vw);
        margin-top: 2%;
    }

    .iconSocial{
        width: 60%;
    }

    footer {
        height: 25px;
        border-top: 0;
        position: fixed;
        bottom: 0;
    }

    .footer {
        margin-top: 0;
        font-size: calc(0.2em + 1vw);
    }
}

/************************************* Fin login y signUp *******************************/

@media (min-width: 768px) {

/*********************************** Timeline ************************************/

    .timeLineContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    }

    /* .profileContaiter{
    height: 20%;
    } */

    .publicationContainer{
    width: 50%;
    }

    .modal-content {
      width: 50%;
      /* Could be more or less, depending on screen size */
    }

/*********************************** Fin de Timeline ************************************/

/******************************************** Profile *******************************************/

    .profileContainer{
    width: 40%;
    height: 30%;
    }

    .nameProfile{
    font-size: 1em;
    }
}

/******************************************** Fin de Profile *******************************************/


@media (max-width: 411px){

/************************************* login y signUp *******************************/

    .input{
    font-size: calc(0.4em + 1vw);
    }
}

/************************************* Fin de login y signUp *******************************/


@media (max-width: 360px){

/***********************************  Timeline ************************************/
    .buttonImg{
    font-size: 1em;
    }

    .btnDelete{
    font-size: 1em;
    }

    .postContent{
    font-size: 1em;
    }

        .userNamePost{
    font-size: 0.7em;
    }

    .btnEdit {
        font-size: 1em;
    }
    .btnSave{
        font-size: 1em;
    }

    .btnLove{
        font-size: 1em;
    }
    .btnComments{
        font-size: 1em;
    }
}

/*********************************** Fin de Timeline************************************/
