/* * {
  margin: 0;
  padding: 0;
} */

:root {
  /*cobalto*/
  /* --logo-color: #08CAB3; */
  /*amarillo*/
  --btn-color: #fab33f;
  /*rojo*/
  --settings-color: #EB4A58;
  /*color de fondo*/
  --background:  #ffffff;
}

body {
  /* poner el fondo blanco */
  /* background-color: var(--background); */
  /* margin: 0;  */
  background-image: url(../img/diseño1.png);
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
}

/* ******************** header************  */
.header-bar-nav {
  margin: 0;
}
.headerNav {
  background-color: var( --btn-color);
  display: flex;
  justify-content: space-between;
  height: 140px;
  align-items: center;
}
.logo-nav {
  width: 100px;
  height: 100px;
  border-radius:50%;
  padding:40px;
}
.li-nav {
  cursor: pointer;
  display: flex;
  
}
header nav ul .lin-va{
  float:left;

}
.logo_home {
  display: flex;
  width:40px;
  height:40px;
  margin:auto;
}
header nav ul li a{
  display: inline-block;
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
 line-height: normal;
 font-size:30px;
 font-weight:bold;
}

 /************************PAGINA PRINCIPAL************************/
 .container{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 90%;
  grid-template-rows: 200px 150px 120px;
  gap: 30px;
  justify-content: center;
}

#main-page{
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 20px;
}
.container-btn{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 80%;
  margin: 0 auto;
}
.container-btn .imgpicture {
  cursor: pointer;
  width: 34px;
}

/*contenedor del perfil*/

.container .profile-container{
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}
.profile{
  text-align: center;
  background-color:#D7D5F8;
  /* background-color: white; */
  border-radius: 15px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 10%);
}

.profile .line-decor {
  width: 40px;
  margin-top: -15px;
}

/*Sección de perfil*/

.profile .profile-user-img {
  width: 80px;
  height: auto;
  border-radius: 100%;
  margin-top: 12px;
}
.profile #name-profile {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3px;
}
.profile #email-profile {
  margin-top: 2px;
  font-size: 1.0rem;
  color: grey;
}

/***************contenedor del muro/timeline**********/

.container .timeline-container{
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
}
.timeline-container .timeline{
  text-align: center;
  background-color: #D6D5F5;
  /* background-color: white; */
  border-radius: 15px;
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 10%);
}
.input-timeline{
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  background-color: whitesmoke;
}
.input-timeline::placeholder {
  font-family: 'Poppins', sans-serif;
  padding-left: 15px;
}

.timeline #publish-btn {
  cursor: pointer;
  width: 100px;
  color: white;
  background: var(--btn-color);
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}
.timeline #publish-btn:hover {
  background: var(--settings-color);
}

 /* a partir de 768 se hace el responsive */
 @media (min-width: 768px) {
    
  .container{
   grid-template-columns:  minmax(0,7fr) minmax(0,17fr);
   grid-auto-rows: minmax(100px, auto);

  }
  
  .container .profile-container{
      grid-column: 1;
      grid-row: 1/3;
  }
  .profile {
      height: 210px;
  }
  .container .timeline-container{
      grid-column: 2;
      grid-row: 1;
  }
  .timeline-container .timeline {
      height: 100%;
  }

  .input-timeline {
      margin-top: 38px;
  }
  .container .posts-container{
      grid-column: 2 ;
      grid-row: 2;
  }
  .img-name i {
      width: 50%;
  }
}
/* ojo */

/* header {
  margin-left: auto;
  margin-right: auto;
  background-color: #fab33f;
} */



/* p {
  display: flex;
  margin-right: 30px;
}

.logo_home {
  display: flex;
  width: 40px;
  height: 40px;
} */

/* .post {
  display: flex;
  width: 690px;
  height: 140px;
  left: 669px;
  top: 246px;
  background: #d7d5f8;
  border-radius: 30px;
} */

/* #btnpost {
  width: 142px;
  height: 44px;
  left: 1171px;
  top: 405px;

  background: #fab340;
  border-radius: 30px;
  border:0;
  outline: none;
  margin-top: 20px;
} */

/* #post{
  border:0;
  outline: none;
  text-align: center;
} */

/* .show-post{
  border:0;
  outline: none;
  text-align: center;
  display: flex;
  width: 690px;
  height: 140px;
  left: 669px;
  top: 246px;
  background: #d7d5f8;
  border-radius: 30px;
} */

/* .show-post {
  border: 0;
  outline: none;
  text-align: center;
  display: flex;
  width: 690px;
  height: 140px;
  left: 669px;
  top: 246px;
  background: #d7d5f8;
  border-radius: 30px;
  align-content: space-around;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
} */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fab33f;
  font-size: 20px;
  /* padding:10px; */
}