body {
    font-family: sans-serif;
}

.header {
    background: linear-gradient(65deg,#FECD1A,#9D0191,#FD3A69,#120078);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: white;
    text-decoration: none;
}

.imageLogo {
    width: 220px;
    height: 75px;
    padding: 0 40px;
}

.navMenu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.navMenuItem {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.navMenuLink {
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
}

.navMenuLink:hover {
    background-color: #034574;
}

.navToggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.containerHome {
    top: 7rem;
}


@media (max-width: 767px) {
    .navMenu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #986D8E  /* #A03C78 */ /* #7B6079 */ /* #763857 */;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 80px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .navMenuItem {
        line-height: 70px;
    }

    .navMenuLink:hover {
        background: none;
        color: #83c5f7;
    }

    .navToggle {
        display: block;
    }

    .navMenuVisible {
        left: 0;
    }
}
