* {
  margin: 0;
  padding: 0;
}

.contenedorLogin{
  display: flex;
 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.fondo-Login1{
  display:none;
}
/* css para title login*/
.figure-title-login{
  display: flex;
  justify-content: center;
}

.fondoAnimalPet{
text-align:center;
width:200px;
height:200px;
border-radius:50%;
}

.frmLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.figure-google {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.logoGmail{
  width:30px;
  height:30px;
}

body{
  background-image: url(../img/diseño1.png);
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
}

.btn-texto {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgb(206, 191, 191);
  width: 250px;
  height: 20px;
  border:0;
  outline: none;
  text-align: center;
}

.btn-signin, .btn-register{
  border-radius: 15px;
  background-color: #fab33f;
  width: 250px;
  height: 30px;
  border:0;
  outline: none;
  margin-bottom: 15px;
  margin-left: 80px;
 
}
/* .btn-register{
  border: none;
} */

.txt {
  text-align: center;
  font-size: 20px;
  /* font-size: 16px; */
}

.a-login-signup {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  background-color: #fab33f;
  font-size: 20px;
  /* padding:10px; */
} 
/* Media query para laptop (2)*/
@media (min-width: 1280px) and (max-width: 1599px) {

  .contenedorLogin{
    display:flex;
    flex-direction:row;
    min-height: 100vh;
    width: 100%;
    /* margin-left: -120px; */
    margin-left: -280px;
  }
  .figure-login{
    margin-left: 950px;
  }
  .fondo-Login1{
    display:block;
    align-content: left;
    margin:250px;
  }
  .btn-texto{
    align-content: right;
    padding-bottom:5px;
    /* font-size:20px; */
  }
   .btn-signin, .btn-register{
    align-content: right;
    padding-bottom:5px;
    font-size:20px;
  }
  .message {
    text-align: center;
    font-size: 20px;
  }
  .figure-title-login, .figure-google{
    margin: 10px;
}

  
  .fondoAnimalPet{
    align-content: right;

  }
}
/* Media query para tablet(3) */
@media (min-width: 700px) and (max-width: 1279px) {

  .contenedorLogin{
    display:flex;
    flex-direction:row;
    min-height: 100vh;
    width:100%;
    margin-left: -30px;
  }

  .fondo-Login1{
    display:none;
  }
  .btn-texto{
    align-content: center;
    padding-bottom:5px;
    width: 400px;
    height:380px;
    font-size: 20px;
  }
   .btn-signin, .btn-register{
    /* align-content: center; */
    padding-bottom:5px;
    width: 150px;
    height:40px;
    font-size: 20px;
    margin-left: 51px;
  }

  .message {
    text-align: center;
    font-size: 20px;
  }
  /* .btn-texto{
    width: 400px;
    height:380;
  } */

  .figure-title-login, .figure-google{
    margin: 10px;
}

  
  .fondoAnimalPet{
    align-content: center;

  }
}
/* Media query para desktop (1)*/
@media (min-width: 1600px) and (max-width: 2500px) {

  .contenedorLogin{
    display:flex;
    flex-direction:row;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    margin-left: -300px;
  }

  .figure-login{
    margin-left: 250px;
  }
  .fondo-Login1{
    display:block;
    align-content: left;
    margin:250px;
  }
  
  .btn-texto{
    align-content: right;
    padding-bottom:5px;
    width:850;
    height:650;
    /* font-size: 100px; */
    /* font-size: 30; */

  }

  .btn-register, .btn-signin{
    width:350px;
    height:40px;
    font-size: 20px;
  }

  /* .btn-texto{
    width:500px;
    height:500px;
  } */
  .message {
    text-align: center;
    font-size: 20px;
  }

/* logo pet lovers */
  .figure-title-login{
    margin: 10px;
}

  /* .img-title {
    width: 360px;
    height:100px;
    
  } */
  .fondoAnimalPet{
    align-content: right;
    width: 400px;
    height: 400px;

  }
  /* footer{
    padding:10px;
 
  } */
}
/* Media query para movil(4) */
@media (min-width: 359px) and (max-width: 699px) {

  .contenedorLogin{
    display:flex;
    flex-direction:row;
    min-height: 100vh;
    width: 100%;
    margin-right: -220px;
  
    
  }

  .fondoAnimal1{
    display:none;
  }
  
  .btn-texto{
    align-content: right;
    padding-bottom:5px;
    font-size: 20px;

  }
  .message {
    text-align: center;
    font-size: 20px;
  }

  .btn-signin, .btn-register{
    width:150px;
    height:40px;
    font-size: 20px;
  }


  .figure-title-login{
    margin: 10px;
}

  
  .fondoAnimalPet{
    align-content: right;

  }
}




