.iTwo {
    padding: 10px;
    background-image: url(../img/diseñoTuristik.gif);
    background-position: center;
    background-size: cover;
}
.divRegisterForm {
    margin: auto;
    /* max-width: 400px; */
    background: rgba(255, 255, 252, 0.74);
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}
.positionRegister {
    margin: 1% 0 1% 60%;
}
.inputForm2 {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #9D0191;
    outline: none;
    cursor: pointer;
    transform: scale(0.95);
}
.btnRegister {
    background-color: #120078;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
    border: 1px solid #120078;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transform: scale(0.95);
}
.errorMessage {
    color: red;
    font-weight: bold;
}
@media (min-width: 1400px){
    .iTwo {
        height: 100vh;
        padding: 40px;
    }
    .positionRegister {
        margin: 12% 0 12% 65%;
    }
}
@media(min-width: 900px) {
    /* .positionRegister {
        margin: 1% 0 1% 65%;
    } */
}
@media(max-width: 780px) {
    .positionRegister {
        margin: 1% 0 1% 50%;
    }
}
@media (max-width: 540px) {
    .positionRegister {
        margin: 1%;
    }
}
