@media (max-width: 70rem) {
    .imgBx {
        display: none;
    }
    .form-container {
        margin-top: 1rem;
        grid-column: 3/ 11;
    }
    .form-container img {
        width: 190px;
    }
    .section-registro {
        display: block;
    }
    #container-alert {
        margin-left: 70%;
    }
}

@media (max-width: 30rem) {
    /*celular 384px*/
    .imgBx {
        display: none;
    }
    .form-container {
        grid-column: 1/ 13;
        padding: 2rem 5rem;
    }
    .form-container img {
        width: 190px;
    }
    .section-registro {
        display: block;
    }
    #container-alert {
        margin-left: 70%;
    }
}


/*tablet 384px*/

@media (max-width: 960px) {
    .form-container {
        padding: 2rem;
    }
    .form-container img {
        width: 210px;
    }
    .section-registro {
        display: block;
    }
    #container-alert {
        margin-left: 70%;
    }
}