@media (max-width: 30rem) {  /**480px**/
  /*celular 384px*/
  .imgBx {
    display: none;
  }
  .form-container {
    grid-column: 1/ 13 !important;
    padding: 2rem 5rem;
  }
  .form-container img {
    width: 190px;
  }
  .section-registro {
    display: block;
  }
  /** Navegacion **/
  .side-navigation p,
  .side-navigation h2 {
    display: none;
  } 
}
  
@media (max-width: 40rem) { /**640**/
/** Ocultar logo del muro en movil**/
  .header .logo  {
    display: none;
  }
  .icon-logo {
    min-width: 17px;
    max-width: 22px;
    width: 5%;
    margin: 0 .5rem 0 0;
  }
  /** Navegación **/
  .side-navigation {
    margin: 0 .5rem;
  }
  .title-posts a span,
  .title-turn-off a span,
  .user-information a span {
    display: none;
  }
  /** Input de búsqueda **/
  .input-search {
    width:45%;
  }
  .input-search input {
    padding: .17rem 0 .17rem .8rem;
  }
  .container-icon-search {
    padding: 0rem;
    width: 20%;
  }
  /** Categorías **/
  .container-section-categories {
    background-color: #fafafa;
  }
  .categories {
    background-color: #FFFFFF;
  }
  /** Dejamos el mismo ancho que los demás iconos**/
  .user-information {
    width: auto;
}
}
  
  /*tablet 384px*/
@media (max-width: 64rem) {   /**1024px**/
  .form-container {
    padding: 2rem;
  }
  .form-container img {
    width: 210px;
  }
  .section-registro {
    display: block;
  }
  /** Navegación **/
  .side-navigation {
    justify-content: center;
    gap: 1.5rem;
  }
}
  
@media (max-width: 70rem) {  /**1120**/
  .imgBx {
    display: none;
  }
  .form-container {
    margin-top: 1rem;
    grid-column: 3/ 11;
  }
  .form-container img {
    width: 190px;
  }
  .section-registro {
    display: block;
  }
  /** Categorías **/
  .titles-categories {
    padding: 0.5rem;
    gap: .5rem;
  }
  .categories,
  .categories p {
    font-size: 11px;
  }
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  /** Input de búsqueda **/
  .input-search {
    width: 32% !important;
  }
  .container-icon-search {
    padding: 0;
    width: 20%;
  }
}

@media (min-width: 627px) {
  .icon-logo {
    display: none;
  }
}

@media (max-width: 800px ) {
  /** Cambia grid de Muro en movil**/
  .container-home {
    display: flex;
    flex-direction: column;
  }
    /** Seccion de categorías **/
    .container-section-categories {
      display: flex;
      flex-direction: column;
    }
    .titles-categories {
      justify-content: flex-start;
      gap: 1.5rem;
    }
    .categories {
      flex-direction: row;
      padding: 1rem;
    }
    .content-category {
      display: none;
    }
    .container-section-post {
      padding: .5rem;
    }
}
  
@media (min-width: 80rem) { /** 1280px **/
  /** Navegación **/
  .side-navigation {
    justify-content: space-around;
  }
  /** Categorías **/
  .categories {
    font-size: 12px;
  }
}


/** Mostrando y coulatndo boton de crear publicacion de acuerdo a las pantallas **/

@media ( max-width: 690px ){
  .container-profile {
    grid-template-columns: 3% 94% 3%;
    grid-template-areas: 
    'header  header          header' 
    '.       .               .' 
    '.       coverUser       .' 
    '.       .               .' 
    '.       cont-friends    . '          
    '.       cont-user-posts .';
    grid-template-rows: 10vh 3vh 20vh 6vh 20vh 42vh;
  }
  .title-friends {
    justify-content: left;
  }
  .container-friends {
    display: flex;
    /* flex-direction: column; */
  }
  .container-friends i {
    display: none;
  }
  .info-friends {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

}