@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&family=Roboto:wght@300;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'proxima-nova', sans-serif;
}

.text-dark {
    color: #3e4b5b;
}

.text-muted {
    color: #76869e;
    font-size: 13px;
}

.text-white {
    color: #ffffff;
}

.text-sucess {
    color: #1bcfb4;
}

.text-danger {
    color: #fe7c96;
}

.text-warning {
    color: #fed713;
}

.text-info {
    color: #198ae3;
}


/****** Buttons ******/

.btn {
    padding: 9px 9px;
    font-size: 14px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-weight: 550;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.90;
}

.btn-primary {
    background: #FA5672;
    border: solid 1px #FA5672;
}

.btn-secondary {
    background: linear-gradient(to right, #da8cff, #9a55ff);
}

.btn-danger {
    background: #EA5455;
}

.btn-success {
    background: #28C76F;
}

.btn-info {
    background: #00CFE8;
}

.btn-warning {
    background: #FF9F43;
}

.btn-default {
    background: #c4c4c5;
    color: #292929;
}


/**** butons outline ***/

.btn-outline-danger {
    background-color: transparent;
    border: solid 1.5px #EA5455;
    color: #EA5455;
}

.btn-outline-danger:hover {
    background-color: #EA5455;
    color: #ffffff;
}

.btn-outline-primary {
    /***/
    background-color: #ffffff;
    border: solid 1.5px #FA5672;
    color: #FA5672;
}

.btn-outline-primary:hover {
    background-color: #FA5672;
    color: #ffffff;
}

.btn-outline-success {
    background-color: transparent;
    border: solid 1.5px #28C76F;
    color: #28C76F;
}

.btn-outline-success {
    background-color: #28C76F;
    color: #ffffff;
}

.btn-outline-warning {
    background-color: transparent;
    border: solid 1.5px #FF9F43;
    color: #FF9F43;
}

.btn-outline-warning {
    background-color: #FF9F43;
    color: #ffffff;
}

.btn-outline-info {
    background-color: transparent;
    border: solid 1.5px #00CFE8;
    color: #00CFE8;
}

.btn-outline-info:hover {
    background-color: #00CFE8;
    color: #ffffff;
}

.btn-outline-default {
    padding: 7px 15px !important;
    background-color: transparent;
    border: solid 1.5px #c4c4c5;
    color: #5b6470;
}

.btn-outline-info:hover {
    background-color: #00CFE8;
    color: #ffffff;
}

.btn-outline-default label {
    margin-left: 8px;
}


/** Logo redes sociales **/

.fb {
    color: #3b5998;
    font-size: 20px;
}

.go {
    /*icono de google*/
    color: #db4a39;
    font-size: 18px;
}


/** Grid **/

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
}

.column1 {
    grid-column: 1 / 7;
}

.column2 {
    grid-column: 7 / 13;
}


/******logo********/

.logo {
    width: 100%;
    max-width: 200px;
}

.formBx img {
    width: 280px;
    height: auto;
    margin-left: 0;
}

.imgLogin {
    background-image: url(../images/svg/login_image.svg);
}

.imgRegistro {
    background-image: url(../images/svg/registro_img_final.svg);
}

.imgBx {
    background-color: #ededed;
    text-align: center;
    background-repeat: no-repeat;
    /*centra la imagen como background*/
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 14%;
    justify-content: flex-end;
    /* justify-content: start;
    align-items: center;*/
}

.form-container {
    padding: 4rem 7rem 4rem 7rem;
    display: flex;
    flex-direction: column;
}


/*.form {
    background-color: plum;
}*/

.form-label {
    margin-bottom: 8px;
    font-size: 13px;
    color: #76869e;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.form-group>i {
    position: absolute;
    top: 35px;
    left: 15px;
    color: #bebcbc;
}

.eye {
    margin-left: 89%;
    /*pendiente responsive*/
}

.form-input {
    border-radius: 5px;
    border: none;
    padding: 0.7rem 2.4rem;
    border: 1px solid #dee0e4;
    color: #6e6b7b;
}

.form-input:focus {
    outline: none;
    border-color: #7367f0;
}


/***Input checkbox**/

.container-checkbox {
    display: flex;
    align-items: center;
}

.container-group-checkbox {
    display: flex;
    justify-content: space-between;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: white;
    border: solid 1px #BBBBBB;
    border-radius: 2PX;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:checked {
    background-color: #FA5672;
    border: none;
}

.container-checkbox label {
    color: #76869e;
    margin-left: 8px;
    cursor: pointer;
    font-size: 13px;
}

input[type=checkbox]::after {
    /*agarra el icono de check*/
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    font-weight: 600;
    font-size: 0.8125rem;
    color: #ffffff;
    display: none;
}

input[type=checkbox]:checked::after {
    display: block;
}

img {
    vertical-align: middle;
    /*Alinea la imagen con texto hacia el costado*/
}


/***links***/

.link-primary {
    background-color: transparent;
    color: #FA5672;
    text-decoration: none;
    font-size: 13px;
}

.link-primary:hover {
    color: #fa3858;
}

.link-secondary {
    background-color: transparent;
    color: #7367f0;
    text-decoration: none;
}

.link-secondary:hover {
    color: #4435f1;
}


/**Linea Sesparador***/

.separador {
    display: flex;
    justify-content: space-between;
}

.linea {
    width: 47%;
    border-top: 1px solid #D1D0D0;
    position: relative;
    top: 10px;
    float: left;
}

.leyenda {
    color: #999;
    float: left;
    padding: 0 8px 0 8px;
}


/**secction de registro en login 898989
*/

.form-group-registro label {
    color: #898989;
    font-size: 14px;
}

.form-group-registro button {
    margin-top: 2%;
    padding: 9px 18px;
}

.section-registro {
    display: none;
}


/**Inputs Valid e Invalid y message **/

.input-invalid {
    border-color: #fa3858 !important;
}

.input-valid {
    border-color: #28c76f!important;
}

.msg {
    font-size: 12px;
    margin-top: 4px;
}


/**Alerts para notificaciones*/

#container-alert {
    position: absolute;
    margin-top: 2%;
    padding: 15px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 3px 3px 0px rgb(202, 202, 202);
    margin-left: 87%;
    display: none;
    color: #fff;
}

.error-msg {
    background-color: #e74b3c;
}

.info-msg {
    background-color: #3598dc;
}

.success-msg {
    background-color: #01ba8e;
}

.process-msg {
    background-color: #414141;
}