* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS DE LOGIN Y REGISTRO*/

.viewDesktop {
  display: none;
}

.login,
.register {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo,
.login__title,
.form--login,
.form--register,
.login__registerLink,
.register__title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form--login__inputList,
.form--register__inputList {
  width: 80%;
}

.login__h2,
.login__h1,
.register__h1 {
  font-size: 1.2rem;
  padding: 0.4em;
  margin: 0.25em 0.2em;
  text-align: center;
}

.register__h2 {
  font-size: 0.9rem;
  padding: 0.4em;
  margin: 0.25em 0.2em;
  text-align: center;
  font-style: italic;
}

.form--login__label,
.form--register__label {
  display: none;
}

.form__input {
  width: 100%;
  height: 6vh;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  color: #616161;
  background-color: #f3eff6;
  border-style: none;
}

.form__input:focus {
  outline: none;
  border-radius: 10px;
  border-style: solid;
  border-color: #f90066;
}

.button {
  border-radius: 60px;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  padding: 0.3em 0.2em;
  margin: 0.25em 0.2em;
  border-style: none;
}

.button:hover {
  cursor: pointer;
}

.button--main {
  background-color: #742284;
  color: white;
  box-shadow: 0px 6px 16px 0px rgba(104, 36, 127, 0.5);
  padding: 0.5em 1.6em;
  font-weight: bold;
}

.form--login__button,
.form--login__social,
.signup-button,
.signup-social {
  width: 40%;
}

.button--login {
  width: 100%;
}

.button--main:hover {
  background-color: #2f0059;
}

.button--second {
  background-color: white;
  border: 0.1rem solid black;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button--second:hover {
  background-color: #f2f3f5;
}

.button--second__img {
  width: 20%;
}
.googleIcon {
  width: 20px;
  float: left;
  margin-left: 4px;
}

.form--separator {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5em;
}

.login__registerLink {
  font-size: 0.8rem;
  margin: 0.5em;
}

.backArrow {
  align-self: flex-end;
  margin: 1em;
}

.backArrow > a > i {
  color: black;
  font-size: 2rem;
}

.invalidEmail {
  display: flex;
  text-align: center;
  color: #f11c40e8;
  font-size: 0.7rem;
  margin: 0.5em;
}

.validateEmail {
  display: flex;
  color: #02bb02;
  text-align: center;
  font-size: 0.7rem;
  margin: 0.5em;
}
.errorLogin {
  background: #fae5e5;
  padding: 0.5em;
  border-radius: 10px;
}

/*icono dentro del input password*/
.inputList-item {
  position: relative;
}
.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  transition: 0.4s ease all;
}
.icon--eye:hover {
  color: #742284;
  cursor: pointer;
}
.fa-check {
  color: #02bb02;
}
.fa-times {
  color: #f11c40e8;
}
.btn-saveEditPost {
  display: none;
}


/* ocultar boton guardar cambios */
/* .btn-cancelEdit{
  display: none;
} */

@media (min-width: 600px) {
  .form--login__inputList,
  .form--register__inputList {
    width: 75%;
  }

  .viewDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3eff6;
    height: 100vh;
  }

  .register__h2 {
    padding: 0em 1em;
  }

  .register__h1,
  .register__h2 {
    font-size: 1.5rem;
  }

  .viewDesktop__woman {
    width: 80%;
  }

  .viewDesktop__logo {
    width: 20%;
  }

  .login,
  .register {
    font-size: 2rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .loginSection,
  .registerSection {
    align-items: center;
    display: grid;
    /*flex-direction: row;*/
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .login__h2 {
    font-size: 1.5rem;
  }

  .backArrow {
    align-self: flex-end;
    margin: 0.5em;
  }
}
