* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  header {
    width: 100%;
    /*height:100vh ;*/
    background-color:#2F0059 ;
    z-index: 1;
    position: fixed ;
  }

  nav{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header__logo{
  width:140px ;
  margin-left: 20px;
}

.bar-btn{
  font-size: 25px;
  color:#fff;
  margin-right: 20px;
  cursor:pointer;

}

.nav__menu{
  position: absolute;
  width: 80%;
  border-left: 1px solid #E298B1;
  /* direction: rtl; */
  right: 0;
  /*top: 0; el eslint error verificar*/
  height: 0vh;
  top:75px;
  background:#fff;
  box-shadow:-9px -3px 31px -1px rgba(81, 33, 85, 0.3);
  /*-moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;*/
  text-align: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 2;
  /*transition: translateX(200%);*/
}

.nav__menu li{
  display: none;
  /* padding: 1em 0; */
  transition: all .5s;
}

.nav__menu li a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  height: 3.12em;
  cursor: pointer;
  align-items: center;
  justify-content: left
}
.nav__menu li a i{
  padding: 0 1em;
 
}
.nav__menu li a:hover,.nav__menu li:hover{
  color:#742284;
  background-color: #F3EFF6;
}
.backdrop{
  position: fixed;
  right: 0;
  top: 75px;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 157, 160, 0.8);
  z-index: 1;
  display:none;
}

#check{
  display:none;

}

#check:checked ~ .nav__menu{
  height: 100vh;
}

#check:checked ~ .nav__menu li{
 display:block;
}
#check:checked  ~ .backdrop {
  display:block;
 }


 /* footer */
 footer{

  background: #1D0335;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
 }


 /* pagina error*/

 .contentError404{
   margin:auto;
   display: flex;
   padding-top: 6em;
   align-items: center;
   justify-items: center;
   flex-direction: column;
   background-color: #f3d9fa;
   width: 100vw;
   height: 100vh;
 }

 .error404Img{
   /*margin-top: 7em;*/
   width: 70%;
 }
 .contentError404 h1{
   font-size: 1.3rem;
   margin-top: 1em;
   text-align: center;
   
 }

 .contentError404 p{
  font-size: 1.5rem;

}



 /* responsive for desktop */

 @media screen and (min-width:  600px) {
  .header__logo{
    margin-left: 1em;
  }
  nav {
    height: 80px;
  }
  .bar-btn{
    display: none;
  }
  .nav__menu{
    position: relative;
    height:90px;
    top:0;
    background: none;
    transition: none;
    text-align: right;
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content:right;
    

  }
  .nav__menu li {
    transition: none;    
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav__menu li a {
    font-size: 1rem;
    color: white;
    text-align: left;
  }
  .nav__menu li a i {
    padding: 0 .5em;
}
.nav__menu li a:hover,.nav__menu li:hover{
  color:#fff;
  background-color: #DE09A6;
}

.contentError404{
  padding-top: 4em;
  
}
.error404Img{
  width: 60%;
}

.contentError404 h1 p{
  margin-top: 0em;
  padding: 1em;
}

 }


