* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
  }
  
.home {
  /* background-color: rgb(228, 227, 227); */
  padding-top: 100px;
}

.home__profile {
  /* background-color: rgb(161, 130, 190); */
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 1em;
  align-self:flex-start;
}

.home__postImput > textarea {
  width:100%;
  resize:none;  
}

.home__profile> div {
 /* background-color:orange; */
 margin:0.5em;
}

.home__profileBox > h3 {
font-size:1.3rem;
font-weight:400;
}

.home__profileBox > p {
font-size:0.8rem;
color: #78752C;
}


.imgUser {
    border-radius: 50%;
    background-color: crimson;
}

.homeImgUser {
    width: 100%;
    min-width: 80px;
}

.home__imgUser {
   position: relative;
}
.homeImgUserProfile{
  align-self: center;
}

.postImgUser {
    position: absolute; 
    width: 56px;
    left: -5px;
    top: -5px;
}

.home__profileBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#postHome-form{
  /* background-color: chartreuse; */
  width:100%;
  padding: 1em;
}

#postHome-form textarea {
  background-color: #F3EFF6;
  border-radius: 10px;
  border-style: none;
  padding: 0.5em;
  height: 4.6em;
  resize:none;
 
}




.home__buttonPost {
  display:flex;
  justify-content: flex-end;
}


.home__buttonPost >input {
  height: 80%;
  width: 45%;
}

.postAreaUser {
  background-color: #F3EFF6;
  border-radius: 10px;
  margin: 1rem 0;
  padding-bottom:0.5em;
}


.home__PostsContainer{
  /* background-color: darkgray; */
  padding: 1em;
}

.home_postHeader{
  height: 55px;
  display: flex;
  justify-content: left;
  
}



.home__nameDate{
  display:flex;
  flex-direction: column;
  justify-content:center;
  font-size: 0.8rem; 
  padding-left: 60px;
}

.textSecundary {
  color: #616161;

}

.post__inputtext {
  padding: 0.5rem 0.8rem;
}

.post__input {
  width: 100%;
  height: 7.6em;
  border-style: none;
  resize:none;
  padding: 0.5rem;
  color:#616161;
  /* height: fit-content; */
}

#postHome-form textarea:focus , .post__input:focus{
  outline: none ;
  border:1px solid red;
  box-shadow: 0 0 10px #719ECE;
} 

.post__paragraph{
  width: 100%;
  background: rgb(255, 255, 255);
  height: fit-content;
  padding: 0.5rem;
  font-size: 0.85rem;
  color: #616161;
}

.home_likeButtonSection {
  display:flex;
  justify-content: space-between;
  /* background-color: deeppink; */
  padding:0 0.5em;
}



.btn-post{
  background-color:none;
  border-style: none;
  /* padding: 0.5em; */
  color: black;
  font-size:0.8rem;
  font-weight:300px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-post:hover{
 color: #742284; 
}

.fa-heart {
color: #F5000A;
cursor: pointer;
}

.fa-heart:focus {
  outline: none;
  }

.btn-delete, .btn-cancelEdit {
  margin-left:1em;
}

/* responsive desktop */

@media screen and (min-width:  600px) {
.homeContainer{
  background: #D8D8D8;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 50px);
}
.home{
  max-width: 900px;
  background: white;
    /* background-color: rgb(161, 130, 190); */
    display: grid;
    grid-template-columns: 2fr 3fr;  
    padding-right:1em;
    padding-left: 1em;
}
.home__PostsContainer{
  grid-column: 2;
}
#postHome-form textarea {  
  height: 8.6em; 
}
}