* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
  }

  .modalContainer{
      position:fixed;
      z-index:1;
      padding-top: 8em;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      background-color:rgba(0,0,0,0.4);
   } 

   .modalContent{
      background-color:white;
      margin:auto;
      border: 0.02em solid #F90066;
      border-radius: 15px;
      width:70%;
      max-width: 400px;
      padding: 0.6em 0.8em 1.2em 0.8em;
  }

  .modalContent > h1 {
      font-size: 1.2rem;
      line-height: 1.7rem;
      padding: 1.5em 0 1em 0;
      text-align: center;
      
  }

  .modalContent > p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
}

.modalContent > p > span{
    font-weight: bold;
    color:#F90066;
}


  .closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeModal:hover,
  .closeModal:focus {
    color:#F90066;
    cursor: pointer;
  }


  .btnOpcionDelete{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .btnOpcionModal{
    /*padding: 1em;*/
    margin: 1em;
    padding: 0.5em;
    background-color:#F3EFF6;
    border-radius: 10%;
    font-size: 1.2rem;
    width: 3em;
}
  

.btnOpcionModal:hover{
  background-color:#2F0059; 
  color:azure
}


@media screen and (min-width:  600px) {

  .modalContainer{
    padding-top: 5em;
 } 


  .modalContent{
    max-width: 400px;
    padding: 0.6em 1.2em 1.2em 1.2em;
}

}