@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-one: #333;
  --main-color: #784cfb;
  --light-one: #fff;
}

/********* Estilos generales **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.contenedor {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}



/************* Nav *************/

nav {
  width: 100%;
  position: relative;
}

nav .contenedor {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.logo {
  display: flex;
}

.links ul {
  display: flex;
}

.links i {
  display: inline-block;
  padding: 0.9rem 2.5rem;
  color: var(--dark-one);
  font-size: 2rem;
  transition: 0.5s;
}

.links i:hover {
  color: var(--main-color);
}


/***********************MURO estilos********************/
.muro {
  position: relative;
  width: 100%;
  padding: 3.5rem 0 8.5rem 0;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.muro_user-posters {
  background-color: var(--light-one);
  width: 100%;
  border-radius: 45px;
  padding: 5.5rem 4.5rem;
  display: grid;
  grid-template-columns: 0.6fr 1.3fr;
}

.muro-info {
  padding-right: 1rem;
}

.muro-info .title{
  margin-bottom:1.5rem;
  font-size: 1.8rem;
}


/*****************INFO DEL USUARIO*********************/
.information-user {
  display: flex;
  align-items: center;
  margin-bottom: 2.3rem;
}


.user-img img{
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: inline-block;
  margin-right: 1.5rem;
}

.user-name {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}


/****************IMÁGENES DE ANIME***************/
.title-anime {
  text-align: center;
  color: #6b6b6b;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container-posters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  grid-gap: 20px;
}

.div-poster {
  width: 100%;
  padding: 1.2rem 1.2rem;
}

.poster_effect-text {
  position: relative;
  margin-left: auto;
  margin-right:auto;
  border-radius: 16px;
  height: 9.5rem;
  width: 80%; 
}

.poster_effect-text img {
  position: absolute;
  line-height: 1.5;
  width: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
  border-radius: 20px;
}

.poster_effect-text .img-overlay {
  position: absolute;
  width: 142px;
  height: 132%;
  top: -16%;
  left: 19%;
  z-index: 2;
  color: var(--light-one);
  background-color: rgba(120, 76, 251, 0.55);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content:flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.3s;
}

.img-titles {
  width: 100%;
}

.img-overlay h3 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.img-overlay h5 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.poster_effect-text:hover .img-overlay {
  opacity: 1;
}

.poster_effect-text:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}




/********************COLUMNA DE POSTS*********************/

.muro-posts {
  padding-left: 2rem;
}

.muro-posts .title {
  margin: 0;
  font-size: 1.8rem;
}

.muro-posts .txt-post {
  width: 100%;
  display: grid;
  grid-template-columns: auto-fit, minmax(130px, 1fr);
  grid-column-gap: 0.6rem;
}

.posts {
  padding: 1.2rem 2.1rem;
  margin: 0.6rem 0;
  border: none;
  outline: none;
  background: #e7e7e7;
  border-radius: 4rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: 0.5s;
}

.posts::placeholder {
  font-weight: 400;
}

.posts.textarea {
  resize: none;
  min-height: 250px;
  border-radius: 2rem; 
}

.posts:hover {
  background-color: #cccccc;
}

.posts:focus {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fcdbf4 100%); 
}

.btn-share {
  text-align: center;
}

.btn {
  margin-top: 0.6rem;
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  border: none;  
}

.btn:hover {
  background-color: #6b44e0;
}




/********* Responsive ************/

@media (max-width: 1280px) {
  .text {
    font-size: 1rem;
  }

  .links i {
    font-size: 1.9rem;
    padding: 0.65rem 2.7rem;
  }

  .title {
    font-size: 2.1rem;
    padding-bottom: 0.65rem;
  }

  .btn {
    padding: 0.75rem 1.7rem;
    font-size: 0.8rem;
  }

  nav .contenedor {
    height: 4.5rem;
  }

  .logo {
    width: 28%;
  }

  .div-poster {
    width: 104%;
    padding: 0.6rem 1.2rem;
  }

  .poster_effect-text {
    height: 9.7rem;
    position: relative;
  }

  .poster_effect-text .img-overlay {
    padding: 1.4rem 2rem;
  }

  .img-overlay h3 {
    font-size: 1.3rem;
  }

  .img-overlay h5 {
    font-size: 1rem;
  }

  .muro {
    padding: 3.5rem 0 6rem 0;
  }

  .muro-posts {
    padding-left: 1rem;
  }

  .muro-info {
    padding-right: 1rem;
  }

  .muro_user-posters {
    padding: 3.6rem 3rem;
  }

  .container-posters {
    margin-top: 1.2rem;

  }

  .contact-icon {
    min-width: 50px;
    height: 50px;
    font-size: 1rem;
    margin-right: 0.8rem;
  }

  .contact-icon i {
    line-height: 50px;
  }

  .user-name {
    font-size: 1.2rem;
  }

  .posts {
    font-size: 1.1rem;
    padding: 0.9rem 1.6rem;
    margin: 0.4rem 0;
  }

  .txt-post .btn{
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  
  .div-poster {
    width: 90%;
    padding: 1.0rem 0.8rem;
  }

  .poster_effect-text {
    height: 9.7rem;
    position: relative;
  }

  .poster_effect-text .img-overlay {
    padding: 1.4rem 2rem;
  }

  .img-overlay h3 {
    font-size: 1.3rem;
  }

  .img-overlay h5 {
    font-size: 1rem;
  }

} 

@media (max-width: 850px) {
  .logo {
    width: 35%;
  }

  .links i {
    font-size: 1.8rem;
    padding: 0.65rem 2.7rem;
  } 

  .div-poster {
    width: 50%;
  }

  .poster_effect-text {
    height: 9.7rem;
    max-width: 270px;
  }

  .muro_user-posters {
    grid-template-columns: 1fr;
    padding: 3.2rem 2.7rem;
  }

  .muro-info {
    padding-right: 0;
    padding-bottom: 0.5rem;
  }

  .muro-posts {
    padding-left: 0;
    padding-top: 0.5rem;
  }

  .muro-posts h3 {
   font-size: 1.8rem;
  }

  .container-posters {
    display: none;
  }

  .posts.textarea {
    min-height: 220px;
    font-size: 1.2rem;
  }

  .title-anime{
    display: none;
  }

  .txt-post .btn{
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .div-poster {
    width: 100%;
  }

  .links i {
    font-size: 1.3rem;
    padding: 0.65rem 1.7rem;
  }

  .logo {
    width: 40%;
  }
}

@media (max-width: 560px) {
  .logo {
    width: 35%;
  }

  .links i {
    font-size: 1.4rem;
    padding: 0.65rem 1.5rem;
  }

  .contenedor {
    padding: 0 2rem;
  }

  .text {
    font-size: 0.92rem;
  }

  .muro {
    padding: 3.5rem 0 5rem 0;
  }

  .title-anime{
    display: none;
  }

  .container-posters {
    display: none;
  }

  .muro_user-posters {
    padding: 2.3rem 2rem;
    border-radius: 30px;
  }

  .muro-posts .txt-post {
    grid-column-gap: 0.3rem;
  }

  .posts {
    font-size: 0.8rem;
    padding: 0.8rem 1.4rem;
    margin: 0.25rem 0;
  }

  .txt-post .btn{
    font-size: 0.8rem;
  }
}

/* Fin Responsive */