/******************** Import de url de fuente*********************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*********Se borra el formato del navegador por defecto **********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/************************Diseño de Header************************/
body{
    background: #F4F4F4;
}
.menu{
  background: #4DBC4D;
  height: 50px;
}
.menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
}

/**********************Contenido de login y SignIn*****************/

.logo{
  width: 200px;
  height: 180px;
  margin-top: 15px;
  text-align: center;
  
}

.items{
  width: 200px;
  height: 80px;
  margin-top: 10px;
  text-align: justify;
}

.input{
  display: flex;
  align-content: space-around;
  flex: 1 0 auto;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnStart{
  border: none;
  background-color: #4DBC4D;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: initial;
  justify-content: center;

}
.buttons{
  display: flex;
  justify-content: center;

}

.imgFacebookGoogle{
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3{
  text-align: center;
  font-size: 15px;
  color: #525151;
}

.facebook {
  width: 50px;
  height: 50px;
}

.google {
  width: 50px;
  height: 50px;
}

/**************************Diseño de TimeLine*********************/
.publication{
border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
  width: 400px;
  height: 250px;
}

.textAreaPublication{
  display: flex;
  align-items: center;
}

::placeholder{
  color: #689EE0;
  opacity: 1;
}

.buttonShare{
    border: none;
  background-color: #4DBC4D;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: initial;
  justify-content: center;
}

/***************************Diseño footer*********************/
footer {
  background-color: rgb(56, 43, 43);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color:#ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px solid #2f2f2f;
}

/* footer{
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px 10px 20px;
    color: #ffffff;
    background-color: rgb(56, 43, 43);
    border-top: 1px solid #2f2f2f;
    font-weight: 100;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
  }
  
  footer{
    flex:  1 100%;
  } */

/*************************Media queries*****************************/

@media screen and (max-width: 970px) {
  .logos {
  width: 200px;
  height: 150px;
  margin-top: 15px;
  text-align: center;
  text-size-adjust:senr ;
  }
}
.welcome{
  margin-top: 10px;
  text-align: center;
  text-size-adjust:senr ;

}
.contenedorFormulario{
    display: flex;
    justify-content: center;
}
.contenedorRegister{
  display: flex;
  justify-content: center;
}