* {
  margin: 0;
  padding: 0;
}
h1,h2,p {
    text-align:center;
}
body{
  background-image: linear-gradient(to top, #067DA3 0%, #000000 100%);
  /*background-image: url("./img/bg.JPG");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#container{
  background-position: center;
    background-color: #fafafa6e;
}
.fondoAnimal{

width: 600px;
height: 600px;
display: block; 
margin: auto;
border: radius 15px;
}


.logoGmail{
display: block; 
margin: auto;
}

.container .text{
    border-radius: 5px;
    padding:15px 5px 5px 20px;
}

#imgLogin{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #imgLogin>img{
    max-width: 30%;
    border: 2px solid blue;
 }

#email{
  text-align: center;
}

#imgRegister{
  display: flex;
  align-items: center;
  justify-content: center;
}

#imgRegister>img{
  max-width: 25%;
  max-height: 20%;
  width: 200px;
  height: 210px;
  border:2px solid red;
  display:flex;
}
#info, #information, #btnlogin, #btnGoogleLogin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
#registerInformation1, #registerInformation2, #registerInformation3, #registerInformation4, #regbtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}


footer{
  text-align: center; 
  margin-left: auto; 
  margin-right: auto;
  
} 
