
* {
    margin:0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box; 
}

/*main{
    background-color: blue;
}*/

/*CSSS DE LOGIN*/

.viewDesktop{
    display: none;
}

.login,.register{
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logo, .login__title , .form--login,.form--register,.login__registerLink ,.register__title{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.login__h2, .login__h1,.register__h1{
    font-size: 1.2rem;
    padding:0.40em ;
    margin:0.25em 0.20em ;
}


.register__h2{
    font-size:0.90rem;
    padding:0.40em ;
    margin:0.25em 0.20em ;
}

.form--login__label,.form--register__label{
    display:none;
}



.form__input{
    width: 100%;
    height: 6vh;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    color:#616161;
    background-color: #F3EFF6;
    border-style: none;
    
    }


.form--login__email:focus,
.form--login__password:focus {
    outline: none;
    border-radius: 10px;
    border-style:solid;
    border-color: #F90066;
}

.button{
    border-radius:60px;
    font-size: 1rem;
    padding:0.40em 1.2em;
    margin:0.25em 0.20em ;
    border-style: none;
    

}

.button:hover{
    cursor: pointer;
}

.button--main {
    background-color:#742284;
    color:white;
    box-shadow: 0px 6px 16px 0px rgba(104, 36, 127, 0.5);
    padding:0.5em 1.6em;
    font-weight: bold;
}

.button--main:hover{
    background-color: #2f0059;
}

.button--second{
    background-color: white;
    border: 0.1rem solid black;
    font-size: 0.80rem;
}

.button--second:hover{
    background-color: #F2F3F5;
}

.form--login__separator{
    font-size:0.8rem ;
    font-weight: bold;
    margin:0.5em;
}


.login__registerLink{
    font-size:0.80rem ;
    margin: 0.5em;
}










@media (min-width:600px){

.viewDesktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3EFF6;
    height: 100vh;
    
} 

.viewDesktop__woman {
    height: 60%;
}

.viewDesktop__logo{
    height: 30%;
}

.login,.register {
    font-size: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}


 .loginSection ,.registerSection{
    align-items: center;
    display: grid;
    /*flex-direction: row;*/
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
    
}

.logo{
    display: none;
    
}


.login__h2{
    font-size: 1.5rem;
    
}


    

}



/*CSS DE REGISTER*/







