<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles2.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="icon" href="../images/svg/favicon.svg">
    <title>CourseShare</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="imgBx"></div>
            <div class="formBx">
                <img class="logo" src="../images/svg/logo.svg" alt="logo"><br>
                <form action="#">
                    <div class="group">
                        <p class="text-dark">Correo Electronico</p>
                        <input id="email" type="email" class="form-control" placeholder="example@example.com">
                    </div>
                    <br>
                    <div class="group">
                        <p class="text-dark">Contraseña</p>
                        <input id="password" type="password" class="form-control" placeholder="Ingrese su contraseña">
                    </div>
                    <br>

                    <button type="submit" id="btn-login" class="btn btn-primary"> INICIAR SESION </button>

                    <p class="text-dark">¿No tienes cuenta? <a href="#"> Suscríbete</a></p>
                </form>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/99e095b5b2.js" crossorigin="anonymous"></script>
    <script type="module" src="main.js"></script>
</body>

</html>