<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/svg/favicon.svg">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="column column1"> 
            <div class="container-column1">
                <img src="../images/svg/Recurso 2.svg" alt="recurso2">
                <p class="text-dark">¿ Eres nuevo aquí ? Empecemos</p>
                <button class="btn btn-outline-primary"> REGISTRATE <i class="fas fa-volume-down"></i> </button>
            </div>
        </div>
        <div class="column column2"> 

            <img class="logo" src="../images/svg/logo.svg" alt="logo"> </br>

            <label class="text-muted" for="email">Correo electrónico</label>
            <div class="input-container">
                <i class="fas fa-at"></i> 
                <input id="email" type="text" class="form-control" placeholder="example@example.com">
            </div> </br>

            <label class="text-muted" for="password">Contraseña</label>
            <div class="input-container">
                <i class="fas fa-key"></i>
                <input id="password" type="text" class="form-control" placeholder="Ingrese su contraseña">
                <i class="fas fa-eye-slash eye"></i>
            </div> </br>

            <div class="container-checkbox">
                <input type="checkbox" class="checkbox" id="checkbox"/>
                <label for="checkbox">Recuérdame</label>
            </div>

            <button  type="button" id="login" class="btn btn-primary"> INICIAR SESION </button>

            <!-- <button id="facebook" class="btn btn-outline-default"> <img src="../images/svg/facebook.png" alt="logo-facebook">   <label for="facebook">Regístrate con Facebook</label> </button> -->
        </div>
    <script src="https://kit.fontawesome.com/99e095b5b2.js" crossorigin="anonymous"></script> 
    <script type="module" src="main.js"></script>
</body>
</html>